<h1>映画一覧(上位20件)</h1>
<li class="nav-link">
  <form id="form">
    <input type="text" id="search" class="search" placeholder="Search">
  </form>
</li>
<div class="contaisner">
  <div class="row", id="main"></div>
</div>
