<h1>作品詳細</h1>
<div class="container">
  <div class="row">
    <div id="show"></div>
      <div class="col-md-4">
        <div>
          <%= link_to "レビューを投稿する", new_public_review_path %>
        </div>
      </div>
      <div class="col-md-4">
        <div>公開タグ</div>
      </div>
    <div class="col-md-4">
    <% @reviews.each do |review| %>
    <div class="border"><%= review.title %>|<%= link_to review.user.name, public_customer_path(review.user.id) %></div>
    <div class="border"><%= review.review %></div>
    <% end %>
    </div>
  </div>
</div>
