      <div class="container">
      <div class="row">
      <div class="col-12">
      <div class-"main-visual">
      <div class="main-visual-image">
      <h4 class="main-visual-text text-white">
        LOOK-HORへお越し下さり<br>
        誠にありがとうございます。<br>
        ここでは貴方にピッタリの<br>
        ホラー作品を探すことができます。<br>
         <div class="main-visual-link"><%= link_to "作品を探す", public_movies_path, data: {"turbolinks" => false}, class: "btn btn-primary" %></div>
      </h4>
      </div>
      </div>
      </div>
      </div>
      </div>