      <div class="container">
      <div class="row">
      <div class="mx-auto">
      <h2 class="text-white bg-dark">
        LOOK-HORへお越し下さり誠にありがとうございます。<br>
        ここでは貴方にピッタリのホラー作品を探すことができます。
      </h2>
      </div>
      </div>
      </div>
      <h1>作品一覧(上位20件)</h1>
      <div class="contaisner">
        <div class="row", id="main"></div>
      </div>
      <script src="../src/tmdb.js" type="module"></script>