@import '~bootstrap/scss/bootstrap';

main{
  margin: 20px;
}

.container{
  margin: 30px;
}

.main-visual{
  max-height: 300px;
}

.main-visual-image{
  width: 100%;
  height: 400px;
  background-image: image-url('logo-bef08b98fe5cf5df38112432d0915f72dd86f9bb72271bd02943ff63e26c393c.jpg') ;
  background-size: cover;
}

.main-visual-text{
  padding: 60px;
  width: 50%;
  min-width: 310px;
  height: 400px;
   text-align: center;
  background-color: rgba( 0, 0, 0, 0.5);
}

.main-visual-link{
  margin: 30px;
}